body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    background-color: #141414;
    font-family: 'Abel';
    background-image: url(img/triangle-background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}



nav { 
    background-color: transparent;
    color: #fff;
    padding: 8px;

}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1;
    margin-left: 400px;
    

}

.nav-item {
    margin: 0;
}

.nav-item a{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.2s;


}

.nav-item a:hover {
    color: rgb(190, 76, 95);
    transition: 0.4s;
}

.sign-in {
    margin-left: 300px;
}

.sign-in a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.sign-in a:hover {
    color:rgb(190, 76, 95);
    transition: 0.4s;
}


.maincontainer {
    position: relative;
    width: 50%;
    height: 40vh;
    overflow: hidden;
    margin-left: 400px;
    margin-top: 10px;

}

.gif-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/img/osugif.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 15%;
    z-index: 1;
    border-radius: 10px;
}

.text1 {
    position: relative;
    z-index: 2;
    color: white;
    padding: 20px;
    margin-left: 420px;
    margin-top: 110px;
    font-size: 14px;
}

h1, p1{
    margin: 0;
}

p1{
    margin-left: 188px;
    font-size: 20px;
    color: #E088B4;
}

.pippi-png {
    width: 60%;
    margin-left: -300px;
    margin-top: -260px;
}

.download-bottom {
    display: inline-block;
    padding: 15px 20px;
    margin: 10px 0;
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-left: 253px;
    background-color: #5639AC;
    border-radius: 5px;
    transition: 0.2s;
 
}

.download-bottom:hover {
    background-color: #8C66FF;
    transition: 0.4s;
}

.notice-container1 {
    display: block; 
    width: 100%;    
    margin: 20px 0;
    text-align: center;
}

.notice-container1 img {
    max-width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    margin-left: 400px;
    border-radius: 10px;
    
}

.title-notice1 {
    display:inline-block;
    margin-top: -100px; 
    margin-left: -132px;
    color: white;
    padding: 30px 262px;
    background-color: #1B1A1E;    
    border-radius: 5px;
    font-size: 18px;
    transition: 0.2s;
    
}

.title-notice1:hover {
    background-color: #211f25;
    transition: 0.4s;
}

.news-container {
    display: flex;
    

}

.news-card {
    background-color: #1B1A1E;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 150px;
    color: white;
    transition: 0.2s;
}

.news-card:hover {
    background-color: #211f25;
    transition: 0.4s;
}

.news-card img {
    width: 130%;
    height: auto;

}

.news-content {
    padding: 15px;
}

.news-content .date {
    font-size: 10px;
    color: #ffffff;
}

.news-content h3 {
    margin: 10px 0;
    font-size: 20px;
}

.news-content .author {
    font-size: 16px;
    color: #bbb;
}









  

